langchain
langchain-community
langchain-google-genai
# langchain-openai
langchain-huggingface
langgraph
# openai
sentence-transformers
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
pypdf
psycopg2-binary
# wikipedia
