langchain
langchain-community
# langchain-openai
langchain-huggingface
langgraph
# openai
sentence-transformers
faiss-cpu
pydantic
python-dotenv
beautifulsoup4
requests
streamlit
# wikipedia
