name: Go Ingestion CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Install dependencies
        working-directory: ./go_ingestion
        run: make deps

      - name: Build
        working-directory: ./go_ingestion
        run: make build

      # - name: Test
      #   working-directory: ./go_ingestion
      #   run: make test

      - name: Lint
        working-directory: ./go_ingestion
        run: |
          make fmt

